################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
/.vs/Arch.ILS.EconomicModel/v17/TestStore/0
/.vs/Arch.ILS.EconomicModel/FileContentIndex
/Arch.ILS.EconomicModel.Console/App.config
/Arch.ILS.EconomicModel.Console/App.config.config
