################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arch.ILS.EconomicModel.Console/App.config
/Arch.ILS.EconomicModel.Console/App.config.config
/.vs/Arch.ILS.EconomicModel/FileContentIndex
/Arch.ILS.EconomicModel/obj/Release/net9.0/refint
/Arch.ILS.EconomicModel/obj/Release/net9.0
/Arch.ILS.EconomicModel.Benchmark/bin/Release/net9.0
/Arch.ILS.EconomicModel.Console/bin/Release/net9.0
/Arch.ILS.EconomicModel/bin/Release/net9.0
