<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Revo" connectionString="data source=arlrevodb;initial catalog=Revo;User ID=revoreader;Password=revoreader" providerName="System.Data.SqlClient"/>
		<add name="RevoLayerLoss" connectionString="data source=arlrevodb;initial catalog=RevoLayerLoss;User ID=revoreader;Password=revoreader" providerName="System.Data.SqlClient"/>
		<add name="ARG-DWVARLSQL01" connectionString="data source=ARG-DWVARLSQL01.archgroup.io;initial catalog=OccBackTesting;User ID=OccBackTesting;Password=OccBackTesting" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>